<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mainli.bezier"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.Bezier2Activity">
        </activity>
        <activity android:name=".activity.Bezier3Activity">
        </activity>
        <activity android:name=".activity.LineActivity">
        </activity>
        <activity android:name=".activity.AnimatorActivity">
        </activity>
        <activity android:name=".activity.WaveActivity">
        </activity>
        <activity android:name=".activity.CircleActivity">
        </activity>
        <activity android:name=".activity.Circle2HeartViewActivity">
        </activity>
        <activity android:name=".activity.BezierPathAnimActivity">
        </activity>
        <activity android:name=".activity.PathAnimActivity">
        </activity>
    </application>

</manifest>